In [1]:
!date

dom dic  1 16:06:26 CET 2019

In [2]:
# Active system's automagic
%automagic on

Automagic is ON, % prefix IS NOT needed for line magics.

In [3]:
# Load work environment

In [4]:
import os
os.getcwd()

'/home/dsc/Repos/TFM_Accident_reduction_plan_in_the_city_of_Madrid/03_Presentation'

In [5]:
folder = '/home/dsc/Repos/TFM_Accident_reduction_plan_in_the_city_of_Madrid/03_Presentation'
!ls {folder}

01_loading_and_preprocessing_original_data.ipynb
01_OUT_csv_filesexport_df_series_tiempo.csv

In [6]:
os.chdir(folder)
os.getcwd()

'/home/dsc/Repos/TFM_Accident_reduction_plan_in_the_city_of_Madrid/03_Presentation'

In [7]:
# Load library for work and analitics data
import pandas as pd
import numpy as np

In [8]:
# Read from excel file sample with column names stipulated and transform them
df_from_xls = pd.read_excel('../01_Originals_data/2010_Accidentalidad.xlsx',
                     sheet_name='LISTADO DE ACCIDENTES MENSUALES',
                     index_col=None,
                     names=['FECHA', 'RANGO_HORARIO', 'DIA_SEMANA', 'DISTRITO', 'BORRAR', 'BORRAR', 'BORRAR', \
                            'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', \
                            'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'NUM_PERSONAS', 'TIPO_ACCIDENTE', \
                            'TIPO_VEHICULO', 'TIPO_PERSONA', 'SEXO', 'LESIVIDAD', 'TRAMO_EDAD'])

In [9]:
# View first rows
df_from_xls.head()

,FECHA,RANGO_HORARIO,DIA_SEMANA,DISTRITO,BORRAR,BORRAR.1,BORRAR.2,BORRAR.3,BORRAR.4,BORRAR.5,...,BORRAR.12,BORRAR.13,BORRAR.14,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,TRAMO_EDAD
0,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,CALLE DE CARTAGENA NUM ...,104,2010/135,NO,NO,SI,...,NO,NO,NO,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 18 A 20 AÑOS
1,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,CALLE DE CARTAGENA NUM ...,104,2010/135,NO,NO,SI,...,NO,NO,NO,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 50 A 54 AÑOS
2,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,CALLE DE CARTAGENA NUM ...,104,2010/135,NO,NO,SI,...,NO,NO,NO,1,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HL,DE 40 A 44 AÑOS
3,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM. ...,10200,2010/94,NO,NO,NO,...,NO,NO,NO,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 25 A 29 AÑOS
4,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM. ...,10200,2010/94,NO,NO,NO,...,NO,NO,NO,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 30 A 34 ANOS

In [10]:
# Check dimesion
df_from_xls.shape

(26578, 26)

In [11]:
# Check duplicted values
df_from_xls.duplicated().sum()

874

In [12]:
# Comprobar valores nulos
df_from_xls.isnull().sum()

FECHA             0
RANGO_HORARIO     0
DIA_SEMANA        0
DISTRITO          0
BORRAR            0
BORRAR.1          0
BORRAR.2          0
BORRAR.3          0
BORRAR.4          0
BORRAR.5          0
BORRAR.6          0
BORRAR.7          0
BORRAR.8          0
BORRAR.9          0
BORRAR.10         0
BORRAR.11         0
BORRAR.12         0
BORRAR.13         0
BORRAR.14         0
NUM_PERSONAS      0
TIPO_ACCIDENTE    0
TIPO_VEHICULO     0
TIPO_PERSONA      0
SEXO              0
LESIVIDAD         0
TRAMO_EDAD        0
dtype: int64

In [13]:
# Delete surplus columns that start with:
filtro_borrar = [col for col in df_from_xls if col.startswith('BORRAR')]
df_from_xls = df_from_xls.drop(columns=filtro_borrar)

In [14]:
# Check dimesion
df_from_xls.shape

(26578, 11)

In [15]:
# View first rows more extended
df_from_xls.head(20)

,FECHA,RANGO_HORARIO,DIA_SEMANA,DISTRITO,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,TRAMO_EDAD
0,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 18 A 20 AÑOS
1,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 50 A 54 AÑOS
2,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HL,DE 40 A 44 AÑOS
3,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 25 A 29 AÑOS
4,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 30 A 34 ANOS
5,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 25 A 29 AÑOS
6,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 25 A 29 AÑOS
7,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 25 A 29 AÑOS
8,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,TURISMO,CONDUCTOR,MUJER,HL,DE 25 A 29 AÑOS
9,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,TURISMO,VIAJERO,MUJER,HL,DE 21 A 24 AÑOS
10,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,FURGONETA,CONDUCTOR,HOMBRE,HL,DE 25 A 29 AÑOS
11,2010-01-01,DE 2:00 A 2:59,VIERNES,CHAMBERI,1,COLISIÓN DOBLE,MOTOCICLETA,CONDUCTOR,HOMBRE,HL,DE 35 A 39 AÑOS
12,2010-01-01,DE 2:00 A 2:59,VIERNES,CHAMBERI,1,COLISIÓN DOBLE,AUTO-TAXI,CONDUCTOR,HOMBRE,IL,DE 35 A 39 AÑOS
13,2010-01-01,DE 4:00 A 4:59,VIERNES,RETIRO,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,TESTIGO,HOMBRE,IL,DE 25 A 29 AÑOS
14,2010-01-01,DE 4:00 A 4:59,VIERNES,RETIRO,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,TESTIGO,HOMBRE,IL,DE 30 A 34 ANOS
15,2010-01-01,DE 4:00 A 4:59,VIERNES,RETIRO,7,COLISIÓN MÚLTIPLE,TURISMO,CONDUCTOR,HOMBRE,HL,DE 25 A 29 AÑOS
16,2010-01-01,DE 4:00 A 4:59,VIERNES,RETIRO,7,COLISIÓN MÚLTIPLE,TURISMO,VIAJERO,HOMBRE,IL,DE 30 A 34 ANOS
17,2010-01-01,DE 4:00 A 4:59,VIERNES,RETIRO,7,COLISIÓN MÚLTIPLE,TURISMO,VIAJERO,MUJER,IL,DE 18 A 20 AÑOS
18,2010-01-01,DE 4:00 A 4:59,VIERNES,RETIRO,7,COLISIÓN MÚLTIPLE,TURISMO,VIAJERO,MUJER,HG,DE 21 A 24 AÑOS
19,2010-01-01,DE 4:00 A 4:59,VIERNES,RETIRO,7,COLISIÓN MÚLTIPLE,TURISMO,VIAJERO,MUJER,HL,DE 21 A 24 AÑOS

In [16]:
# View types
df_from_xls.dtypes

FECHA             datetime64[ns]
RANGO_HORARIO             object
DIA_SEMANA                object
DISTRITO                  object
NUM_PERSONAS               int64
TIPO_ACCIDENTE            object
TIPO_VEHICULO             object
TIPO_PERSONA              object
SEXO                      object
LESIVIDAD                 object
TRAMO_EDAD                object
dtype: object

In [17]:
# View columns
df_from_xls.columns

Index(['FECHA', 'RANGO_HORARIO', 'DIA_SEMANA', 'DISTRITO', 'NUM_PERSONAS',
       'TIPO_ACCIDENTE', 'TIPO_VEHICULO', 'TIPO_PERSONA', 'SEXO', 'LESIVIDAD',
       'TRAMO_EDAD'],
      dtype='object')

In [18]:
# Substitute NaN for "NO_ASIGNADO"
df_from_xls.fillna("NO_ASIGNADO", inplace=True)

In [19]:
# Check NULL values
df_from_xls.isnull().sum()

FECHA             0
RANGO_HORARIO     0
DIA_SEMANA        0
DISTRITO          0
NUM_PERSONAS      0
TIPO_ACCIDENTE    0
TIPO_VEHICULO     0
TIPO_PERSONA      0
SEXO              0
LESIVIDAD         0
TRAMO_EDAD        0
dtype: int64

In [20]:
# Check duplicted values
df_from_xls.duplicated().sum()

877

In [21]:
# Review duplicated values and the group rebuilding them by index

In [22]:
df_dupls = df_from_xls[df_from_xls.duplicated(keep=False)];
df_dupls_values = df_dupls.groupby(df_dupls.columns.tolist()).apply(lambda x: x.index.tolist()).values.tolist();
df_dupls_relation = df_dupls.groupby(df_dupls.columns.tolist()).apply(lambda x: x.index.tolist())

In [23]:
type(df_dupls_values)

list

In [24]:
type(df_dupls_relation)

pandas.core.series.Series

In [25]:
df_dupls_values

[[3, 5, 6],
 [31, 32],
 [87, 88],
 [137, 138],
 [160, 161],
 [257, 258, 259, 260],
 [301, 302],
 [356, 358],
 [405, 406],
 [426, 427],
 [433, 435],
 [497, 498],
 [499, 501],
 [507, 508],
 [567, 568],
 [587, 588],
 [593, 594],
 [649, 650, 651, 652],
 [685, 686],
 [734, 735, 736],
 [742, 743],
 [774, 775],
 [788, 789],
 [796, 797, 798],
 [817, 818],
 [872, 873],
 [877, 879, 880, 881],
 [941, 945],
 [1134, 1135],
 [1037, 1038],
 [1183, 1184],
 [1255, 1256],
 [1268, 1269, 1270, 1271, 1272],
 [1204, 1205, 1206],
 [1331, 1332],
 [1417, 1418],
 [1419, 1420],
 [1453, 1454, 1455, 1456],
 [1519, 1520, 1521],
 [1539, 1540],
 [1601, 1602],
 [1743, 1744, 1745],
 [1754, 1755],
 [1700, 1701, 1702],
 [1803, 1804],
 [1840, 1841],
 [1870, 1871],
 [1880, 1881],
 [1886, 1887],
 [1919, 1920],
 [1953, 1954],
 [1891, 1892],
 [2070, 2071, 2072],
 [2080, 2081, 2082, 2083],
 [2102, 2103],
 [2025, 2026],
 [2030, 2031],
 [2175, 2176],
 [2183, 2184],
 [2186, 2187, 2188],
 [2253, 2254],
 [2313, 2314],
 [2327, 2328, 2330],
 [2295, 2296],
 [2303, 2304],
 [2399, 2401, 2402],
 [2432, 2433, 2434],
 [2542, 2544],
 [2658, 2659],
 [2671, 2672],
 [2705, 2706],
 [2734, 2735],
 [2746, 2747],
 [2820, 2821],
 [2898, 2899, 2900],
 [2927, 2928],
 [2945, 2946],
 [2960, 2961],
 [2883, 2884],
 [3005, 3006],
 [3073, 3074],
 [3083, 3084],
 [3099, 3100],
 [3102, 3104],
 [3132, 3133],
 [3227, 3228],
 [3238, 3239],
 [3236, 3237],
 [3194, 3195],
 [3198, 3199, 3200],
 [3203, 3204],
 [3210, 3211],
 [3264, 3265],
 [3269, 3272],
 [3322, 3323],
 [3333, 3334],
 [3278, 3279],
 [3285, 3286],
 [3351, 3352],
 [3421, 3422, 3423, 3424],
 [3384, 3385],
 [3537, 3538],
 [3672, 3673],
 [3680, 3681],
 [3598, 3599],
 [3741, 3742],
 [3746, 3747],
 [3697, 3698],
 [3702, 3703],
 [3789, 3790],
 [3818, 3820, 3821],
 [3762, 3763, 3764],
 [3901, 3902, 3903],
 [3924, 3925],
 [4122, 4124],
 [4253, 4254],
 [4255, 4256],
 [4272, 4273],
 [4157, 4158],
 [4358, 4359, 4360],
 [4373, 4376],
 [4386, 4387],
 [4305, 4307],
 [4320, 4321, 4322, 4323],
 [4324, 4325],
 [4333, 4334],
 [4336, 4337],
 [4423, 4424],
 [4503, 4504],
 [4514, 4515],
 [4452, 4453],
 [4460, 4461],
 [4610, 4611],
 [4617, 4618],
 [4734, 4738, 4739],
 [4879, 4880],
 [4905, 4906],
 [4803, 4804],
 [4913, 4914, 4915],
 [4948, 4949],
 [4959, 4960],
 [4928, 4930],
 [5003, 5004],
 [4993, 4994, 4995],
 [5084, 5085],
 [5094, 5095],
 [5117, 5119],
 [5052, 5053],
 [5150, 5151],
 [5155, 5156],
 [5247, 5250],
 [5206, 5207, 5208, 5209, 5210, 5211],
 [5331, 5332],
 [5276, 5277, 5278],
 [5354, 5355],
 [5356, 5357],
 [5434, 5435],
 [5482, 5483],
 [5511, 5512],
 [5506, 5507],
 [5606, 5607],
 [5611, 5613],
 [5666, 5667],
 [5754, 5755],
 [5708, 5709],
 [5760, 5761],
 [5802, 5803, 5804],
 [5810, 5811],
 [5837, 5838],
 [5785, 5786],
 [5945, 5946],
 [5917, 5918],
 [5919, 5920],
 [5983, 5984],
 [5958, 5959],
 [6002, 6003],
 [6004, 6005],
 [6039, 6040],
 [6059, 6060],
 [6090, 6091],
 [6093, 6094, 6095, 6096, 6097],
 [6131, 6132],
 [6140, 6141],
 [6316, 6317],
 [6382, 6383, 6384],
 [6412, 6413],
 [6342, 6344],
 [6474, 6475],
 [6455, 6457],
 [6575, 6576],
 [6581, 6582],
 [6592, 6593],
 [6629, 6630],
 [6735, 6736],
 [6750, 6751],
 [6824, 6825],
 [6895, 6896],
 [6897, 6898],
 [6843, 6844],
 [6942, 6943],
 [6967, 6969],
 [7097, 7098],
 [7115, 7116],
 [7077, 7078],
 [7136, 7137],
 [7233, 7234, 7235],
 [7291, 7292, 7293],
 [7372, 7373, 7374],
 [7395, 7396],
 [7475, 7476],
 [7513, 7514],
 [7521, 7522],
 [7556, 7557, 7558],
 [7669, 7671],
 [7619, 7620],
 [7705, 7708],
 [7718, 7719],
 [7788, 7789],
 [7800, 7801],
 [7762, 7763],
 [7927, 7928, 7929],
 [8126, 8127],
 [8135, 8136],
 [8146, 8147],
 [8198, 8201],
 [8203, 8205],
 [8211, 8212],
 [8214, 8215],
 [8162, 8165],
 [8240, 8242],
 [8237, 8239],
 [8249, 8250],
 [8311, 8312],
 [8334, 8335],
 [8330, 8331],
 [8343, 8345],
 [8362, 8363],
 [8491, 8492],
 [8579, 8580],
 [8560, 8561],
 [8710, 8711, 8712, 8713],
 [8744, 8745],
 [8659, 8660],
 [8761, 8762],
 [8767, 8768],
 [8927, 8928],
 [9022, 9024],
 [9133, 9134],
 [9109, 9110],
 [9201, 9202],
 [9237, 9238],
 [9245, 9246],
 [9254, 9255],
 [9175, 9178],
 [9292, 9293],
 [9325, 9326],
 [9334, 9335],
 [9337, 9338],
 [9370, 9371],
 [9406, 9408],
 [9468, 9469],
 [9496, 9497],
 [9597, 9598],
 [9640, 9641, 9642],
 [9686, 9687],
 [9732, 9733],
 [9783, 9784],
 [9820, 9821],
 [9756, 9757],
 [9864, 9865],
 [9878, 9879, 9881, 9882, 9883],
 [9896, 9897],
 [9940, 9941],
 [9946, 9948],
 [9970, 9971],
 [9978, 9979],
 [9927, 9929],
 [10053, 10054],
 [10091, 10092],
 [10178, 10179],
 [10302, 10303],
 [10575, 10576],
 [10642, 10643],
 [10686, 10687],
 [10736, 10737],
 [10778, 10779],
 [10847, 10848],
 [10863, 10864],
 [10886, 10887],
 [10905, 10906],
 [10945, 10946],
 [10952, 10953],
 [11028, 11029],
 [11030, 11031],
 [10984, 10985],
 [11093, 11094],
 [11243, 11244, 11245],
 [11259, 11260],
 [11216, 11218],
 [11355, 11356],
 [11402, 11406],
 [11373, 11374],
 [11506, 11507],
 [11512, 11513],
 [11543, 11544],
 [11450, 11451],
 [11457, 11458],
 [11468, 11469],
 [11474, 11475],
 [11551, 11552],
 [11632, 11633],
 [11658, 11659],
 [11717, 11718],
 [11755, 11757, 11758, 11759],
 [11730, 11731],
 [12012, 12013, 12014, 12015],
 [11971, 11972],
 [12064, 12065],
 [12085, 12086],
 [12119, 12120],
 [12158, 12159],
 [12193, 12194],
 [12260, 12261],
 [12221, 12222],
 [12378, 12379],
 [12404, 12405],
 [12524, 12525],
 [12433, 12434],
 [12620, 12621],
 [12541, 12542],
 [12700, 12701],
 [12711, 12713, 12714],
 [12827, 12828],
 [12839, 12844, 12847],
 [12848, 12850],
 [12837, 12843, 12846],
 [12852, 12853],
 [12859, 12860],
 [12879, 12880, 12881, 12882],
 [12890, 12891],
 [13076, 13077],
 [13098, 13100],
 [13020, 13022],
 [13136, 13137],
 [13148, 13150],
 [13026, 13028],
 [13157, 13158],
 [13249, 13250],
 [13262, 13263],
 [13277, 13278],
 [13404, 13405],
 [13558, 13559, 13560],
 [13582, 13583],
 [13487, 13488],
 [13709, 13710],
 [13719, 13720],
 [13787, 13788],
 [13809, 13810],
 [13739, 13740, 13741],
 [13836, 13837],
 [13827, 13828, 13829, 13830],
 [13882, 13883],
 [13990, 13992],
 [14011, 14012],
 [14016, 14017],
 [14024, 14025, 14026, 14027],
 [13976, 13977],
 [14103, 14104],
 [14114, 14115],
 [14148, 14149, 14150],
 [14197, 14198],
 [14226, 14227],
 [14258, 14259],
 [14282, 14283],
 [14288, 14289, 14290],
 [14278, 14279],
 [14363, 14364],
 [14380, 14381],
 [14415, 14416],
 [14417, 14418],
 [14448, 14449],
 [14451, 14452],
 [14547, 14548],
 [14758, 14759],
 [14818, 14819],
 [14828, 14829],
 [14851, 14852],
 [14768, 14769, 14770, 14771, 14772],
 [14784, 14785],
 [14962, 14964],
 [14968, 14969],
 [15081, 15082],
 [15160, 15161],
 [15255, 15256],
 [15276, 15277],
 [15344, 15345],
 [15403, 15404],
 [15381, 15382],
 [15379, 15380],
 [15399, 15400, 15401],
 [15439, 15441],
 [15452, 15453, 15454, 15455],
 [15522, 15523],
 [15535, 15536],
 [15628, 15629],
 [15630, 15631],
 [15638, 15639],
 [15672, 15673],
 [15746, 15747, 15748, 15749, 15750],
 [15808, 15809],
 [15795, 15796],
 [15894, 15895],
 [15901, 15902],
 [15958, 15959],
 [15912, 15913],
 [15979, 15980],
 [15988, 15989, 15990],
 [16000, 16001, 16002],
 [15966, 15967],
 [16013, 16014],
 [16033, 16035],
 [16004, 16005],
 [16074, 16075],
 [16076, 16077],
 [16152, 16153],
 [16291, 16292, 16293],
 [16305, 16307],
 [16253, 16254, 16255, 16256, 16257, 16258],
 [16364, 16365, 16366, 16367],
 [16466, 16467, 16468],
 [16532, 16534],
 [16676, 16677],
 [16718, 16719, 16720, 16722],
 [16733, 16734],
 [16770, 16771],
 [16839, 16840],
 [16841, 16842],
 [16893, 16894],
 [16924, 16925],
 [16942, 16943],
 [16956, 16957],
 [16915, 16916],
 [16986, 16987],
 [17001, 17005],
 [16999, 17004],
 [16997, 17003],
 [16993, 16994],
 [17006, 17008],
 [17026, 17027, 17028, 17029, 17030],
 [16967, 16969, 16970],
 [17048, 17049],
 [17094, 17095],
 [17091, 17092],
 [17134, 17135],
 [17160, 17161],
 [17162, 17163],
 [17097, 17098],
 [17101, 17102],
 [17106, 17107, 17108],
 [17182, 17183],
 [17188, 17189],
 [17215, 17218, 17224],
 [17213, 17214, 17217, 17219, 17220, 17221, 17223],
 [17252, 17253],
 [17271, 17272],
 [17405, 17406],
 [17358, 17362, 17363],
 [17359, 17361],
 [17504, 17505],
 [17501, 17502],
 [17513, 17514],
 [17611, 17613, 17614],
 [17612, 17615],
 [17736, 17737],
 [17853, 17854],
 [17890, 17891, 17892, 17893, 17894],
 [17973, 17974],
 [17991, 17993],
 [18059, 18060],
 [18011, 18012],
 [18089, 18090],
 [18133, 18134, 18135],
 [18252, 18253],
 [18262, 18263],
 [18310, 18311],
 [18378, 18379],
 [18363, 18364],
 [18433, 18434],
 [18546, 18547, 18548, 18549],
 [18516, 18517],
 [18569, 18570],
 [18576, 18577, 18578, 18579],
 [18610, 18612],
 [18636, 18637],
 [18738, 18739],
 [18714, 18715],
 [18865, 18866],
 [18892, 18893],
 [18991, 18992],
 [19030, 19031],
 [18948, 18949],
 [18967, 18968],
 [18970, 18971],
 [19096, 19097],
 [19172, 19173],
 [19292, 19293],
 [19249, 19250],
 [19367, 19368],
 [19378, 19379],
 [19402, 19404],
 [19418, 19419],
 [19451, 19453],
 [19469, 19470],
 [19476, 19478],
 [19494, 19495],
 [19548, 19549, 19550],
 [19512, 19513, 19514],
 [19709, 19710],
 [19781, 19782],
 [19798, 19799],
 [19789, 19790],
 [19883, 19885],
 [19977, 19978],
 [19961, 19962],
 [19966, 19967],
 [20071, 20072],
 [20051, 20052],
 [20055, 20056, 20057],
 [20129, 20130],
 [20100, 20101],
 [20165, 20166],
 [20167, 20168, 20169],
 [20107, 20109],
 [20112, 20114],
 [20116, 20117],
 [20322, 20323],
 [20279, 20280],
 [20453, 20454],
 [20459, 20460],
 [20534, 20535],
 [20551, 20552],
 [20661, 20662],
 [20674, 20675],
 [20748, 20750],
 [20757, 20759],
 [20690, 20691],
 [20695, 20696],
 [20701, 20702],
 [20802, 20805],
 [20840, 20841],
 [20851, 20852],
 [20882, 20883],
 [20929, 20930],
 [20993, 20994],
 [20905, 20906],
 [21042, 21043],
 [21057, 21059],
 [21079, 21080],
 [21099, 21100],
 [21002, 21003],
 [21001, 21004],
 [21139, 21140],
 [21161, 21162],
 [21166, 21167],
 [21232, 21233],
 [21329, 21331],
 [21366, 21367],
 [21379, 21381],
 [21434, 21435, 21436],
 [21441, 21442],
 [21556, 21557],
 [21586, 21587],
 [21621, 21622],
 [21728, 21731],
 [21751, 21752],
 [21758, 21759],
 [21767, 21768],
 [21793, 21794],
 [21797, 21798],
 [21703, 21704],
 [21876, 21877],
 [21881, 21882],
 [21833, 21834],
 [21910, 21911],
 [21939, 21940],
 [21984, 21985, 21986],
 [21924, 21925, 21926, 21927],
 [22024, 22025],
 [22002, 22003],
 [22101, 22104],
 [22110, 22111],
 [22173, 22174],
 [22399, 22400],
 [22419, 22420],
 [22443, 22445],
 [22484, 22485],
 [22509, 22510, 22511],
 [22521, 22523],
 [22455, 22456, 22457, 22458],
 [22464, 22465],
 [22466, 22467, 22468, 22469, 22470, 22471, 22472, 22473, 22474, 22475, 22476],
 [22570, 22573],
 [22608, 22609],
 [22538, 22539],
 [22550, 22551],
 [22559, 22560],
 [22708, 22709],
 [22631, 22632],
 [22758, 22759],
 [22786, 22788],
 [22807, 22808],
 [22721, 22722],
 [22736, 22738],
 [22741, 22742, 22743],
 [22816, 22817],
 [22835, 22836],
 [22996, 22997],
 [22926, 22927],
 [23023, 23024, 23025],
 [23173, 23174],
 [23097, 23098, 23100],
 [23106, 23107],
 [23191, 23192, 23193],
 [23268, 23269],
 [23273, 23274],
 [23386, 23388, 23391, 23392],
 [23410, 23411],
 [23493, 23495],
 [23581, 23582],
 [23687, 23688, 23689, 23690],
 [23699, 23700],
 [23780, 23781, 23782],
 [23803, 23807],
 [23810, 23811],
 [23738, 23739],
 [23865, 23866],
 [23820, 23822],
 [23828, 23829],
 [23838, 23839],
 [23934, 23935],
 [23991, 23992],
 [24055, 24056],
 [23997, 23998],
 [24181, 24182],
 [24326, 24327],
 [24335, 24336],
 [24284, 24285],
 [24417, 24418],
 [24446, 24447],
 [24376, 24377],
 [24380, 24384],
 [24390, 24391],
 [24398, 24400],
 [24460, 24461, 24462],
 [24468, 24469],
 [24463, 24465, 24466, 24467],
 [24470, 24471],
 [24498, 24500],
 [24502, 24503],
 [24505, 24507],
 [24476, 24478],
 [24586, 24587, 24588],
 [24599, 24600],
 [24610, 24611],
 [24613, 24615],
 [24561, 24562],
 [24569, 24571, 24573],
 [24568, 24570],
 [24654, 24655],
 [24666, 24667],
 [24719, 24720],
 [24757, 24758],
 [24844, 24846],
 [24765, 24767],
 [24976, 24977],
 [25001, 25002],
 [25004, 25005],
 [25013, 25014],
 [25017, 25018],
 [25047, 25048],
 [25139, 25140, 25141],
 [25107, 25108, 25109],
 [25233, 25235],
 [25229, 25230],
 [25431, 25433],
 [25436, 25437],
 [25446, 25447],
 [25390, 25391],
 [25625, 25627],
 [25642, 25643],
 [25605, 25608],
 [25614, 25615],
 [25713, 25714],
 [25875, 25876],
 [25848, 25849],
 [25927, 25928],
 [25940, 25941],
 [25942, 25943],
 [25951, 25952],
 [25967, 25968],
 [26116, 26117],
 [26133, 26134, 26135],
 [26137, 26138],
 [26146, 26147, 26148],
 [26060, 26061],
 [26186, 26187],
 [26195, 26196],
 [26233, 26234],
 [26279, 26280, 26282],
 [26283, 26284],
 [26281, 26285],
 [26294, 26295],
 [26302, 26303],
 [26346, 26347],
 [26400, 26401],
 [26408, 26409],
 [26471, 26472],
 [26509, 26510],
 [26526, 26528]]

In [26]:
df_dupls_relation

FECHA       RANGO_HORARIO     DIA_SEMANA  DISTRITO                        NUM_PERSONAS  TIPO_ACCIDENTE                            TIPO_VEHICULO                             TIPO_PERSONA                              SEXO    LESIVIDAD                                 TRAMO_EDAD
2010-01-01  DE 1:00 A 1:59    VIERNES     PUENTE DE VALLECAS              7             COLISIÓN MÚLTIPLE                         NO ASIGNADO                               VIAJERO                                   MUJER   HL                                        DE 25 A 29 AÑOS            [3, 5, 6]
            DE 9:00 A 9:59    VIERNES     SALAMANCA                       1             CHOQUE CON OBJETO FIJO                    NO ASIGNADO                               TESTIGO                                   HOMBRE  IL                                        DE 21 A 24 AÑOS             [31, 32]
2010-01-02  DE 19:00 A 19:59  SABADO      CARABANCHEL                     1             COLISIÓN DOBLE                            TURISMO                                   VIAJERO                                   MUJER   IL                                        DESCONOCIDA                 [87, 88]
2010-01-03  DE 23:00 A 23:59  DOMINGO     RETIRO                          1             COLISIÓN DOBLE                            TURISMO                                   CONDUCTOR                                 HOMBRE  IL                                        DE 30 A 34 ANOS           [137, 138]
2010-01-04  DE 12:00 A 12:59  LUNES       RETIRO                          1             COLISIÓN MÚLTIPLE                         TURISMO                                   CONDUCTOR                                 HOMBRE  IL                                        DE 45 A 49 AÑOS           [160, 161]
                                                                                                                                                                                                                                                                                                   ...
2010-12-29  DE 19:00 A 19:59  MIERCOLES   MONCLOA-ARAVACA                 3             COLISIÓN MÚLTIPLE                         TURISMO                                   VIAJERO                                   MUJER   HL                                        DE MAS DE 74 AÑOS     [26400, 26401]
            DE 20:00 A 20:59  MIERCOLES   PUENTE DE VALLECAS              2             COLISIÓN DOBLE                            TURISMO                                   CONDUCTOR                                 MUJER   IL                                        DE 40 A 44 AÑOS       [26408, 26409]
2010-12-30  DE 20:00 A 20:59  JUEVES      RETIRO                          1             COLISIÓN MÚLTIPLE                         TURISMO                                   CONDUCTOR                                 MUJER   IL                                        DE 30 A 34 ANOS       [26471, 26472]
            DE 23:00 A 23:59  JUEVES      CARABANCHEL                     1             COLISIÓN MÚLTIPLE                         TURISMO                                   CONDUCTOR                                 HOMBRE  IL                                        DE 30 A 34 ANOS       [26509, 26510]
2010-12-31  DE 6:00 A 6:59    VIERNES     ARGANZUELA                      3             COLISIÓN DOBLE                            TURISMO                                   VIAJERO                                   HOMBRE  HL                                        DE 30 A 34 ANOS       [26526, 26528]
Length: 719, dtype: object

In [27]:
# Strip leading and trailing space
# no string: df_from_xls['FECHA'] = df_from_xls['FECHA'].str.strip()
df_from_xls['RANGO_HORARIO'] = df_from_xls['RANGO_HORARIO'].str.strip()
df_from_xls['DIA_SEMANA'] = df_from_xls['DIA_SEMANA'].str.strip()
df_from_xls['DISTRITO'] = df_from_xls['DISTRITO'].str.strip()
# no string: df_from_xls['NUM_PERSONAS'] = df_from_xls['NUM_PERSONAS'].str.strip()
df_from_xls['TIPO_ACCIDENTE'] = df_from_xls['TIPO_ACCIDENTE'].str.strip()
df_from_xls['TIPO_VEHICULO'] = df_from_xls['TIPO_VEHICULO'].str.strip()
df_from_xls['TIPO_PERSONA'] = df_from_xls['TIPO_PERSONA'].str.strip()
df_from_xls['SEXO'] = df_from_xls['SEXO'].str.strip()
df_from_xls['LESIVIDAD'] = df_from_xls['LESIVIDAD'].str.strip()
df_from_xls['TRAMO_EDAD'] = df_from_xls['TRAMO_EDAD'].str.strip()

In [28]:
# Review unique data per column

In [29]:
df_from_xls["FECHA"].unique()

array(['2010-01-01T00:00:00.000000000', '2010-01-02T00:00:00.000000000',
       '2010-01-03T00:00:00.000000000', '2010-01-04T00:00:00.000000000',
       '2010-01-05T00:00:00.000000000', '2010-01-06T00:00:00.000000000',
       '2010-01-07T00:00:00.000000000', '2010-01-08T00:00:00.000000000',
       '2010-01-09T00:00:00.000000000', '2010-01-10T00:00:00.000000000',
       '2010-01-11T00:00:00.000000000', '2010-01-12T00:00:00.000000000',
       '2010-01-13T00:00:00.000000000', '2010-01-14T00:00:00.000000000',
       '2010-01-15T00:00:00.000000000', '2010-01-16T00:00:00.000000000',
       '2010-01-17T00:00:00.000000000', '2010-01-18T00:00:00.000000000',
       '2010-01-19T00:00:00.000000000', '2010-01-20T00:00:00.000000000',
       '2010-01-21T00:00:00.000000000', '2010-01-22T00:00:00.000000000',
       '2010-01-23T00:00:00.000000000', '2010-01-24T00:00:00.000000000',
       '2010-01-25T00:00:00.000000000', '2010-01-26T00:00:00.000000000',
       '2010-01-27T00:00:00.000000000', '2010-01-28T00:00:00.000000000',
       '2010-01-29T00:00:00.000000000', '2010-01-30T00:00:00.000000000',
       '2010-01-31T00:00:00.000000000', '2010-02-01T00:00:00.000000000',
       '2010-02-02T00:00:00.000000000', '2010-02-03T00:00:00.000000000',
       '2010-02-04T00:00:00.000000000', '2010-02-05T00:00:00.000000000',
       '2010-02-06T00:00:00.000000000', '2010-02-07T00:00:00.000000000',
       '2010-02-08T00:00:00.000000000', '2010-02-09T00:00:00.000000000',
       '2010-02-10T00:00:00.000000000', '2010-02-11T00:00:00.000000000',
       '2010-02-12T00:00:00.000000000', '2010-02-13T00:00:00.000000000',
       '2010-02-14T00:00:00.000000000', '2010-02-15T00:00:00.000000000',
       '2010-02-16T00:00:00.000000000', '2010-02-17T00:00:00.000000000',
       '2010-02-18T00:00:00.000000000', '2010-02-19T00:00:00.000000000',
       '2010-02-20T00:00:00.000000000', '2010-02-21T00:00:00.000000000',
       '2010-02-22T00:00:00.000000000', '2010-02-23T00:00:00.000000000',
       '2010-02-24T00:00:00.000000000', '2010-02-25T00:00:00.000000000',
       '2010-02-26T00:00:00.000000000', '2010-02-27T00:00:00.000000000',
       '2010-02-28T00:00:00.000000000', '2010-03-01T00:00:00.000000000',
       '2010-03-02T00:00:00.000000000', '2010-03-03T00:00:00.000000000',
       '2010-03-04T00:00:00.000000000', '2010-03-05T00:00:00.000000000',
       '2010-03-06T00:00:00.000000000', '2010-03-07T00:00:00.000000000',
       '2010-03-08T00:00:00.000000000', '2010-03-09T00:00:00.000000000',
       '2010-03-10T00:00:00.000000000', '2010-03-11T00:00:00.000000000',
       '2010-03-12T00:00:00.000000000', '2010-03-13T00:00:00.000000000',
       '2010-03-14T00:00:00.000000000', '2010-03-15T00:00:00.000000000',
       '2010-03-16T00:00:00.000000000', '2010-03-17T00:00:00.000000000',
       '2010-03-18T00:00:00.000000000', '2010-03-19T00:00:00.000000000',
       '2010-03-20T00:00:00.000000000', '2010-03-21T00:00:00.000000000',
       '2010-03-22T00:00:00.000000000', '2010-03-23T00:00:00.000000000',
       '2010-03-24T00:00:00.000000000', '2010-03-25T00:00:00.000000000',
       '2010-03-26T00:00:00.000000000', '2010-03-27T00:00:00.000000000',
       '2010-03-28T00:00:00.000000000', '2010-03-29T00:00:00.000000000',
       '2010-03-30T00:00:00.000000000', '2010-03-31T00:00:00.000000000',
       '2010-04-01T00:00:00.000000000', '2010-04-02T00:00:00.000000000',
       '2010-04-03T00:00:00.000000000', '2010-04-04T00:00:00.000000000',
       '2010-04-05T00:00:00.000000000', '2010-04-06T00:00:00.000000000',
       '2010-04-07T00:00:00.000000000', '2010-04-08T00:00:00.000000000',
       '2010-04-09T00:00:00.000000000', '2010-04-10T00:00:00.000000000',
       '2010-04-11T00:00:00.000000000', '2010-04-12T00:00:00.000000000',
       '2010-04-13T00:00:00.000000000', '2010-04-14T00:00:00.000000000',
       '2010-04-15T00:00:00.000000000', '2010-04-16T00:00:00.000000000',
       '2010-04-17T00:00:00.000000000', '2010-04-18T00:00:00.000000000',
       '2010-04-19T00:00:00.000000000', '2010-04-20T00:00:00.000000000',
       '2010-04-21T00:00:00.000000000', '2010-04-22T00:00:00.000000000',
       '2010-04-23T00:00:00.000000000', '2010-04-24T00:00:00.000000000',
       '2010-04-25T00:00:00.000000000', '2010-04-26T00:00:00.000000000',
       '2010-04-27T00:00:00.000000000', '2010-04-28T00:00:00.000000000',
       '2010-04-29T00:00:00.000000000', '2010-04-30T00:00:00.000000000',
       '2010-05-01T00:00:00.000000000', '2010-05-02T00:00:00.000000000',
       '2010-05-03T00:00:00.000000000', '2010-05-04T00:00:00.000000000',
       '2010-05-05T00:00:00.000000000', '2010-05-06T00:00:00.000000000',
       '2010-05-07T00:00:00.000000000', '2010-05-08T00:00:00.000000000',
       '2010-05-09T00:00:00.000000000', '2010-05-10T00:00:00.000000000',
       '2010-05-11T00:00:00.000000000', '2010-05-12T00:00:00.000000000',
       '2010-05-13T00:00:00.000000000', '2010-05-14T00:00:00.000000000',
       '2010-05-15T00:00:00.000000000', '2010-05-16T00:00:00.000000000',
       '2010-05-17T00:00:00.000000000', '2010-05-18T00:00:00.000000000',
       '2010-05-19T00:00:00.000000000', '2010-05-20T00:00:00.000000000',
       '2010-05-21T00:00:00.000000000', '2010-05-22T00:00:00.000000000',
       '2010-05-23T00:00:00.000000000', '2010-05-24T00:00:00.000000000',
       '2010-05-25T00:00:00.000000000', '2010-05-26T00:00:00.000000000',
       '2010-05-27T00:00:00.000000000', '2010-05-28T00:00:00.000000000',
       '2010-05-29T00:00:00.000000000', '2010-05-30T00:00:00.000000000',
       '2010-05-31T00:00:00.000000000', '2010-06-01T00:00:00.000000000',
       '2010-06-02T00:00:00.000000000', '2010-06-03T00:00:00.000000000',
       '2010-06-04T00:00:00.000000000', '2010-06-05T00:00:00.000000000',
       '2010-06-06T00:00:00.000000000', '2010-06-07T00:00:00.000000000',
       '2010-06-08T00:00:00.000000000', '2010-06-09T00:00:00.000000000',
       '2010-06-10T00:00:00.000000000', '2010-06-11T00:00:00.000000000',
       '2010-06-12T00:00:00.000000000', '2010-06-13T00:00:00.000000000',
       '2010-06-14T00:00:00.000000000', '2010-06-15T00:00:00.000000000',
       '2010-06-16T00:00:00.000000000', '2010-06-17T00:00:00.000000000',
       '2010-06-18T00:00:00.000000000', '2010-06-19T00:00:00.000000000',
       '2010-06-20T00:00:00.000000000', '2010-06-21T00:00:00.000000000',
       '2010-06-22T00:00:00.000000000', '2010-06-23T00:00:00.000000000',
       '2010-06-24T00:00:00.000000000', '2010-06-25T00:00:00.000000000',
       '2010-06-26T00:00:00.000000000', '2010-06-27T00:00:00.000000000',
       '2010-06-28T00:00:00.000000000', '2010-06-29T00:00:00.000000000',
       '2010-06-30T00:00:00.000000000', '2010-07-01T00:00:00.000000000',
       '2010-07-02T00:00:00.000000000', '2010-07-03T00:00:00.000000000',
       '2010-07-04T00:00:00.000000000', '2010-07-05T00:00:00.000000000',
       '2010-07-06T00:00:00.000000000', '2010-07-07T00:00:00.000000000',
       '2010-07-08T00:00:00.000000000', '2010-07-09T00:00:00.000000000',
       '2010-07-10T00:00:00.000000000', '2010-07-11T00:00:00.000000000',
       '2010-07-12T00:00:00.000000000', '2010-07-13T00:00:00.000000000',
       '2010-07-14T00:00:00.000000000', '2010-07-15T00:00:00.000000000',
       '2010-07-16T00:00:00.000000000', '2010-07-17T00:00:00.000000000',
       '2010-07-18T00:00:00.000000000', '2010-07-19T00:00:00.000000000',
       '2010-07-20T00:00:00.000000000', '2010-07-21T00:00:00.000000000',
       '2010-07-22T00:00:00.000000000', '2010-07-23T00:00:00.000000000',
       '2010-07-24T00:00:00.000000000', '2010-07-25T00:00:00.000000000',
       '2010-07-26T00:00:00.000000000', '2010-07-27T00:00:00.000000000',
       '2010-07-28T00:00:00.000000000', '2010-07-29T00:00:00.000000000',
       '2010-07-30T00:00:00.000000000', '2010-07-31T00:00:00.000000000',
       '2010-08-01T00:00:00.000000000', '2010-08-02T00:00:00.000000000',
       '2010-08-03T00:00:00.000000000', '2010-08-04T00:00:00.000000000',
       '2010-08-05T00:00:00.000000000', '2010-08-06T00:00:00.000000000',
       '2010-08-07T00:00:00.000000000', '2010-08-08T00:00:00.000000000',
       '2010-08-09T00:00:00.000000000', '2010-08-10T00:00:00.000000000',
       '2010-08-11T00:00:00.000000000', '2010-08-12T00:00:00.000000000',
       '2010-08-13T00:00:00.000000000', '2010-08-14T00:00:00.000000000',
       '2010-08-15T00:00:00.000000000', '2010-08-16T00:00:00.000000000',
       '2010-08-17T00:00:00.000000000', '2010-08-18T00:00:00.000000000',
       '2010-08-19T00:00:00.000000000', '2010-08-20T00:00:00.000000000',
       '2010-08-21T00:00:00.000000000', '2010-08-22T00:00:00.000000000',
       '2010-08-23T00:00:00.000000000', '2010-08-24T00:00:00.000000000',
       '2010-08-25T00:00:00.000000000', '2010-08-26T00:00:00.000000000',
       '2010-08-27T00:00:00.000000000', '2010-08-28T00:00:00.000000000',
       '2010-08-29T00:00:00.000000000', '2010-08-30T00:00:00.000000000',
       '2010-08-31T00:00:00.000000000', '2010-09-01T00:00:00.000000000',
       '2010-09-02T00:00:00.000000000', '2010-09-03T00:00:00.000000000',
       '2010-09-04T00:00:00.000000000', '2010-09-05T00:00:00.000000000',
       '2010-09-06T00:00:00.000000000', '2010-09-07T00:00:00.000000000',
       '2010-09-08T00:00:00.000000000', '2010-09-09T00:00:00.000000000',
       '2010-09-10T00:00:00.000000000', '2010-09-11T00:00:00.000000000',
       '2010-09-12T00:00:00.000000000', '2010-09-13T00:00:00.000000000',
       '2010-09-14T00:00:00.000000000', '2010-09-15T00:00:00.000000000',
       '2010-09-16T00:00:00.000000000', '2010-09-17T00:00:00.000000000',
       '2010-09-18T00:00:00.000000000', '2010-09-19T00:00:00.000000000',
       '2010-09-20T00:00:00.000000000', '2010-09-21T00:00:00.000000000',
       '2010-09-22T00:00:00.000000000', '2010-09-23T00:00:00.000000000',
       '2010-09-24T00:00:00.000000000', '2010-09-25T00:00:00.000000000',
       '2010-09-26T00:00:00.000000000', '2010-09-27T00:00:00.000000000',
       '2010-09-28T00:00:00.000000000', '2010-09-29T00:00:00.000000000',
       '2010-09-30T00:00:00.000000000', '2010-10-01T00:00:00.000000000',
       '2010-10-02T00:00:00.000000000', '2010-10-03T00:00:00.000000000',
       '2010-10-04T00:00:00.000000000', '2010-10-05T00:00:00.000000000',
       '2010-10-06T00:00:00.000000000', '2010-10-07T00:00:00.000000000',
       '2010-10-08T00:00:00.000000000', '2010-10-09T00:00:00.000000000',
       '2010-10-10T00:00:00.000000000', '2010-10-11T00:00:00.000000000',
       '2010-10-12T00:00:00.000000000', '2010-10-13T00:00:00.000000000',
       '2010-10-14T00:00:00.000000000', '2010-10-15T00:00:00.000000000',
       '2010-10-16T00:00:00.000000000', '2010-10-17T00:00:00.000000000',
       '2010-10-18T00:00:00.000000000', '2010-10-19T00:00:00.000000000',
       '2010-10-20T00:00:00.000000000', '2010-10-21T00:00:00.000000000',
       '2010-10-22T00:00:00.000000000', '2010-10-23T00:00:00.000000000',
       '2010-10-24T00:00:00.000000000', '2010-10-25T00:00:00.000000000',
       '2010-10-26T00:00:00.000000000', '2010-10-27T00:00:00.000000000',
       '2010-10-28T00:00:00.000000000', '2010-10-29T00:00:00.000000000',
       '2010-10-30T00:00:00.000000000', '2010-10-31T00:00:00.000000000',
       '2010-11-01T00:00:00.000000000', '2010-11-02T00:00:00.000000000',
       '2010-11-03T00:00:00.000000000', '2010-11-04T00:00:00.000000000',
       '2010-11-05T00:00:00.000000000', '2010-11-06T00:00:00.000000000',
       '2010-11-07T00:00:00.000000000', '2010-11-08T00:00:00.000000000',
       '2010-11-09T00:00:00.000000000', '2010-11-10T00:00:00.000000000',
       '2010-11-11T00:00:00.000000000', '2010-11-12T00:00:00.000000000',
       '2010-11-13T00:00:00.000000000', '2010-11-14T00:00:00.000000000',
       '2010-11-15T00:00:00.000000000', '2010-11-16T00:00:00.000000000',
       '2010-11-17T00:00:00.000000000', '2010-11-18T00:00:00.000000000',
       '2010-11-19T00:00:00.000000000', '2010-11-20T00:00:00.000000000',
       '2010-11-21T00:00:00.000000000', '2010-11-22T00:00:00.000000000',
       '2010-11-23T00:00:00.000000000', '2010-11-24T00:00:00.000000000',
       '2010-11-25T00:00:00.000000000', '2010-11-26T00:00:00.000000000',
       '2010-11-27T00:00:00.000000000', '2010-11-28T00:00:00.000000000',
       '2010-11-29T00:00:00.000000000', '2010-11-30T00:00:00.000000000',
       '2010-12-01T00:00:00.000000000', '2010-12-02T00:00:00.000000000',
       '2010-12-03T00:00:00.000000000', '2010-12-04T00:00:00.000000000',
       '2010-12-05T00:00:00.000000000', '2010-12-06T00:00:00.000000000',
       '2010-12-07T00:00:00.000000000', '2010-12-08T00:00:00.000000000',
       '2010-12-09T00:00:00.000000000', '2010-12-10T00:00:00.000000000',
       '2010-12-11T00:00:00.000000000', '2010-12-12T00:00:00.000000000',
       '2010-12-13T00:00:00.000000000', '2010-12-14T00:00:00.000000000',
       '2010-12-15T00:00:00.000000000', '2010-12-16T00:00:00.000000000',
       '2010-12-17T00:00:00.000000000', '2010-12-18T00:00:00.000000000',
       '2010-12-19T00:00:00.000000000', '2010-12-20T00:00:00.000000000',
       '2010-12-21T00:00:00.000000000', '2010-12-22T00:00:00.000000000',
       '2010-12-23T00:00:00.000000000', '2010-12-24T00:00:00.000000000',
       '2010-12-25T00:00:00.000000000', '2010-12-26T00:00:00.000000000',
       '2010-12-27T00:00:00.000000000', '2010-12-28T00:00:00.000000000',
       '2010-12-29T00:00:00.000000000', '2010-12-30T00:00:00.000000000',
       '2010-12-31T00:00:00.000000000'], dtype='datetime64[ns]')

In [30]:
df_from_xls["RANGO_HORARIO"].unique()

array(['DE 00:00 A 00:59', 'DE 1:00 A 1:59', 'DE 2:00 A 2:59',
       'DE 4:00 A 4:59', 'DE 5:00 A 5:59', 'DE 8:00 A 8:59',
       'DE 9:00 A 9:59', 'DE 20:00 A 20:59', 'DE 21:00 A 21:59',
       'DE 6:00 A 6:59', 'DE 11:00 A 11:59', 'DE 12:00 A 12:59',
       'DE 13:00 A 13:59', 'DE 14:00 A 14:59', 'DE 15:00 A 15:59',
       'DE 18:00 A 18:59', 'DE 19:00 A 19:59', 'DE 22:00 A 22:59',
       'DE 16:00 A 16:59', 'DE 17:00 A 17:59', 'DE 23:00 A 23:59',
       'DE 7:00 A 7:59', 'DE 10:00 A 10:59', 'DE 3:00 A 3:59'],
      dtype=object)

In [31]:
df_from_xls["DIA_SEMANA"].unique()

array(['VIERNES', 'SABADO', 'DOMINGO', 'LUNES', 'MARTES', 'MIERCOLES',
       'JUEVES'], dtype=object)

In [32]:
df_from_xls["DISTRITO"].unique()

array(['CHAMARTIN', 'PUENTE DE VALLECAS', 'CHAMBERI', 'RETIRO',
       'SALAMANCA', 'CARABANCHEL', 'CIUDAD LINEAL', 'MONCLOA-ARAVACA',
       'TETUAN', 'VILLA DE VALLECAS', 'MORATALAZ', 'ARGANZUELA',
       'SAN BLAS', 'VILLAVERDE', 'HORTALEZA', 'FUENCARRAL-EL PARDO',
       'VICALVARO', 'USERA', 'LATINA', 'BARAJAS', 'CENTRO'], dtype=object)

In [33]:
df_from_xls["NUM_PERSONAS"].unique()

array([ 1,  7,  2,  3,  4,  5,  9,  6,  8, 18, 13])

In [34]:
df_from_xls["TIPO_ACCIDENTE"].unique()

array(['COLISIÓN DOBLE', 'COLISIÓN MÚLTIPLE', 'CHOQUE CON OBJETO FIJO',
       'CAÍDA MOTOCICLETA', 'ATROPELLO', 'VUELCO', 'CAÍDA CICLOMOTOR',
       'CAÍDA VIAJERO BUS', 'OTRAS CAUSAS', 'CAÍDA BICICLETA'],
      dtype=object)

In [35]:
df_from_xls["TIPO_VEHICULO"].unique()

array(['TURISMO', 'NO ASIGNADO', 'FURGONETA', 'MOTOCICLETA', 'AUTO-TAXI',
       'VARIOS', 'CAMION', 'CICLOMOTOR', 'AUTOBUS-AUTOCAR', 'BICICLETA',
       'AMBULANCIA'], dtype=object)

In [36]:
df_from_xls["TIPO_PERSONA"].unique()

array(['CONDUCTOR', 'VIAJERO', 'TESTIGO', 'PEATON'], dtype=object)

In [37]:
df_from_xls["SEXO"].unique()

array(['HOMBRE', 'MUJER', 'NO ASIGNADO'], dtype=object)

In [38]:
df_from_xls["LESIVIDAD"].unique()

array(['IL', 'HL', 'HG', 'NO ASIGNADA', 'MT'], dtype=object)

In [39]:
df_from_xls["TRAMO_EDAD"].unique()

array(['DE 18 A 20 AÑOS', 'DE 50 A 54 AÑOS', 'DE 40 A 44 AÑOS',
       'DE 25 A 29 AÑOS', 'DE 30 A 34 ANOS', 'DE 21 A 24 AÑOS',
       'DE 35 A 39 AÑOS', 'DE 60 A 64 AÑOS', 'DE 45 A 49 AÑOS',
       'DE 0 A 5 AÑOS', 'DESCONOCIDA', 'DE 70 A 74 AÑOS',
       'DE MAS DE 74 AÑOS', 'DE 10 A 14 AÑOS', 'DE 6 A 9 AÑOS',
       'DE 55 A 59 AÑOS', 'DE 65 A 69 AÑOS', 'DE 15 A 17 AÑOS'],
      dtype=object)

In [40]:
# View types
df_from_xls.dtypes

FECHA             datetime64[ns]
RANGO_HORARIO             object
DIA_SEMANA                object
DISTRITO                  object
NUM_PERSONAS               int64
TIPO_ACCIDENTE            object
TIPO_VEHICULO             object
TIPO_PERSONA              object
SEXO                      object
LESIVIDAD                 object
TRAMO_EDAD                object
dtype: object

In [41]:
# Observations count
df_from_xls.count()

FECHA             26578
RANGO_HORARIO     26578
DIA_SEMANA        26578
DISTRITO          26578
NUM_PERSONAS      26578
TIPO_ACCIDENTE    26578
TIPO_VEHICULO     26578
TIPO_PERSONA      26578
SEXO              26578
LESIVIDAD         26578
TRAMO_EDAD        26578
dtype: int64

In [42]:
# Manipulate "RANGO_HORARIO" column for preprocesing data format

In [43]:
df_from_xls["RANGO_HORARIO"][0]

'DE 00:00 A 00:59'

In [44]:
df_from_xls['BORRAR'], df_from_xls['RESTO_RANGO_HORARIO'] = df_from_xls['RANGO_HORARIO'].str.split(' ', 1).str

In [45]:
df_from_xls.columns

Index(['FECHA', 'RANGO_HORARIO', 'DIA_SEMANA', 'DISTRITO', 'NUM_PERSONAS',
       'TIPO_ACCIDENTE', 'TIPO_VEHICULO', 'TIPO_PERSONA', 'SEXO', 'LESIVIDAD',
       'TRAMO_EDAD', 'BORRAR', 'RESTO_RANGO_HORARIO'],
      dtype='object')

In [46]:
df_from_xls.head(1)

,FECHA,RANGO_HORARIO,DIA_SEMANA,DISTRITO,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,TRAMO_EDAD,BORRAR,RESTO_RANGO_HORARIO
0,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 18 A 20 AÑOS,DE,00:00 A 00:59

In [47]:
del df_from_xls['BORRAR']

In [48]:
df_from_xls.head(1)

,FECHA,RANGO_HORARIO,DIA_SEMANA,DISTRITO,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,TRAMO_EDAD,RESTO_RANGO_HORARIO
0,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 18 A 20 AÑOS,00:00 A 00:59

In [49]:
df_from_xls['HORA'], df_from_xls['BORRAR'] = df_from_xls['RESTO_RANGO_HORARIO'].str.split(' ', 1).str

In [50]:
df_from_xls.head(1)

,FECHA,RANGO_HORARIO,DIA_SEMANA,DISTRITO,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,TRAMO_EDAD,RESTO_RANGO_HORARIO,HORA,BORRAR
0,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 18 A 20 AÑOS,00:00 A 00:59,00:00,A 00:59

In [51]:
df_from_xls = df_from_xls.drop(["RANGO_HORARIO","RESTO_RANGO_HORARIO","BORRAR"], axis=1)

In [52]:
df_from_xls.head(1)

,FECHA,DIA_SEMANA,DISTRITO,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,TRAMO_EDAD,HORA
0,2010-01-01,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 18 A 20 AÑOS,00:00

In [53]:
df_from_xls.columns

Index(['FECHA', 'DIA_SEMANA', 'DISTRITO', 'NUM_PERSONAS', 'TIPO_ACCIDENTE',
       'TIPO_VEHICULO', 'TIPO_PERSONA', 'SEXO', 'LESIVIDAD', 'TRAMO_EDAD',
       'HORA'],
      dtype='object')

In [54]:
df_from_xls["HORA"][0]

'00:00'

In [55]:
df_from_xls.columns

Index(['FECHA', 'DIA_SEMANA', 'DISTRITO', 'NUM_PERSONAS', 'TIPO_ACCIDENTE',
       'TIPO_VEHICULO', 'TIPO_PERSONA', 'SEXO', 'LESIVIDAD', 'TRAMO_EDAD',
       'HORA'],
      dtype='object')

In [56]:
ordenar_columnas = df_from_xls.columns.tolist()
ordenar_columnas

['FECHA',
 'DIA_SEMANA',
 'DISTRITO',
 'NUM_PERSONAS',
 'TIPO_ACCIDENTE',
 'TIPO_VEHICULO',
 'TIPO_PERSONA',
 'SEXO',
 'LESIVIDAD',
 'TRAMO_EDAD',
 'HORA']

In [57]:
# Order columns
ordenar_columnas = ordenar_columnas[0:1] + ordenar_columnas[-1:] + ordenar_columnas[1:-1]
ordenar_columnas

['FECHA',
 'HORA',
 'DIA_SEMANA',
 'DISTRITO',
 'NUM_PERSONAS',
 'TIPO_ACCIDENTE',
 'TIPO_VEHICULO',
 'TIPO_PERSONA',
 'SEXO',
 'LESIVIDAD',
 'TRAMO_EDAD']

In [58]:
df_from_xls = df_from_xls[ordenar_columnas]
df_from_xls

,FECHA,HORA,DIA_SEMANA,DISTRITO,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,TRAMO_EDAD
0,2010-01-01,00:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 18 A 20 AÑOS
1,2010-01-01,00:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 50 A 54 AÑOS
2,2010-01-01,00:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HL,DE 40 A 44 AÑOS
3,2010-01-01,1:00,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 25 A 29 AÑOS
4,2010-01-01,1:00,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 30 A 34 ANOS
...,...,...,...,...,...,...,...,...,...,...,...
26573,2010-12-31,20:00,VIERNES,ARGANZUELA,1,CAÍDA MOTOCICLETA,MOTOCICLETA,CONDUCTOR,HOMBRE,HL,DE 45 A 49 AÑOS
26574,2010-12-31,21:00,VIERNES,BARAJAS,1,CHOQUE CON OBJETO FIJO,MOTOCICLETA,CONDUCTOR,HOMBRE,HL,DE 30 A 34 ANOS
26575,2010-12-31,23:00,VIERNES,RETIRO,1,ATROPELLO,NO ASIGNADO,PEATON,HOMBRE,HL,DE 40 A 44 AÑOS
26576,2010-12-31,23:00,VIERNES,RETIRO,1,ATROPELLO,TURISMO,CONDUCTOR,MUJER,IL,DE 25 A 29 AÑOS
26577,2010-12-31,23:00,VIERNES,RETIRO,1,ATROPELLO,TURISMO,VIAJERO,HOMBRE,IL,DE 55 A 59 AÑOS

In [59]:
# Manipulate "FECHA" column for preprocesing data format
df_from_xls["FECHA"][0]

Timestamp('2010-01-01 00:00:00')

In [60]:
df_from_xls["FECHA"] = df_from_xls["FECHA"].dt.strftime('%d/%m/%Y')

In [61]:
df_from_xls["FECHA"][0]

'01/01/2010'

In [62]:
type(df_from_xls["FECHA"])

pandas.core.series.Series

In [63]:
df_from_xls.head(1)

,FECHA,HORA,DIA_SEMANA,DISTRITO,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,TRAMO_EDAD
0,01/01/2010,00:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 18 A 20 AÑOS

In [64]:
# View types
df_from_xls.dtypes

FECHA             object
HORA              object
DIA_SEMANA        object
DISTRITO          object
NUM_PERSONAS       int64
TIPO_ACCIDENTE    object
TIPO_VEHICULO     object
TIPO_PERSONA      object
SEXO              object
LESIVIDAD         object
TRAMO_EDAD        object
dtype: object

In [65]:
# Manipulate "TRAMO_EDAD" column for preprocesing data format
df_from_xls["TRAMO_EDAD"].unique()

array(['DE 18 A 20 AÑOS', 'DE 50 A 54 AÑOS', 'DE 40 A 44 AÑOS',
       'DE 25 A 29 AÑOS', 'DE 30 A 34 ANOS', 'DE 21 A 24 AÑOS',
       'DE 35 A 39 AÑOS', 'DE 60 A 64 AÑOS', 'DE 45 A 49 AÑOS',
       'DE 0 A 5 AÑOS', 'DESCONOCIDA', 'DE 70 A 74 AÑOS',
       'DE MAS DE 74 AÑOS', 'DE 10 A 14 AÑOS', 'DE 6 A 9 AÑOS',
       'DE 55 A 59 AÑOS', 'DE 65 A 69 AÑOS', 'DE 15 A 17 AÑOS'],
      dtype=object)

In [66]:
df_from_xls['BORRAR'], df_from_xls['EDAD'] = df_from_xls['TRAMO_EDAD'].str.split(' ', 1).str

In [67]:
df_from_xls.columns

Index(['FECHA', 'HORA', 'DIA_SEMANA', 'DISTRITO', 'NUM_PERSONAS',
       'TIPO_ACCIDENTE', 'TIPO_VEHICULO', 'TIPO_PERSONA', 'SEXO', 'LESIVIDAD',
       'TRAMO_EDAD', 'BORRAR', 'EDAD'],
      dtype='object')

In [68]:
df_from_xls["EDAD"].unique()

array(['18 A 20 AÑOS', '50 A 54 AÑOS', '40 A 44 AÑOS', '25 A 29 AÑOS',
       '30 A 34 ANOS', '21 A 24 AÑOS', '35 A 39 AÑOS', '60 A 64 AÑOS',
       '45 A 49 AÑOS', '0 A 5 AÑOS', nan, '70 A 74 AÑOS',
       'MAS DE 74 AÑOS', '10 A 14 AÑOS', '6 A 9 AÑOS', '55 A 59 AÑOS',
       '65 A 69 AÑOS', '15 A 17 AÑOS'], dtype=object)

In [69]:
# Check NULL values
df_from_xls.isnull().sum()

FECHA                0
HORA                 0
DIA_SEMANA           0
DISTRITO             0
NUM_PERSONAS         0
TIPO_ACCIDENTE       0
TIPO_VEHICULO        0
TIPO_PERSONA         0
SEXO                 0
LESIVIDAD            0
TRAMO_EDAD           0
BORRAR               0
EDAD              2344
dtype: int64

In [70]:
# Delete surplus columns
del df_from_xls['BORRAR']
del df_from_xls['TRAMO_EDAD']

In [71]:
df_from_xls['TRAMO_EDAD'], df_from_xls['BORRAR'] = df_from_xls['EDAD'].str.split(' ', 1).str

In [72]:
df_from_xls.columns

Index(['FECHA', 'HORA', 'DIA_SEMANA', 'DISTRITO', 'NUM_PERSONAS',
       'TIPO_ACCIDENTE', 'TIPO_VEHICULO', 'TIPO_PERSONA', 'SEXO', 'LESIVIDAD',
       'EDAD', 'TRAMO_EDAD', 'BORRAR'],
      dtype='object')

In [73]:
# Review unique data per column
df_from_xls["TRAMO_EDAD"].unique()

array(['18', '50', '40', '25', '30', '21', '35', '60', '45', '0', nan,
       '70', 'MAS', '10', '6', '55', '65', '15'], dtype=object)

In [74]:
# Check NULL values
df_from_xls.isnull().sum()

FECHA                0
HORA                 0
DIA_SEMANA           0
DISTRITO             0
NUM_PERSONAS         0
TIPO_ACCIDENTE       0
TIPO_VEHICULO        0
TIPO_PERSONA         0
SEXO                 0
LESIVIDAD            0
EDAD              2344
TRAMO_EDAD        2344
BORRAR            2344
dtype: int64

In [75]:
# Delete surplus columns
del df_from_xls['EDAD']
del df_from_xls['BORRAR']

In [76]:
# Check NULL values
df_from_xls.isnull().sum()

FECHA                0
HORA                 0
DIA_SEMANA           0
DISTRITO             0
NUM_PERSONAS         0
TIPO_ACCIDENTE       0
TIPO_VEHICULO        0
TIPO_PERSONA         0
SEXO                 0
LESIVIDAD            0
TRAMO_EDAD        2344
dtype: int64

In [77]:
# Transform data replacing values

In [78]:
df_from_xls["TRAMO_EDAD"].unique()

array(['18', '50', '40', '25', '30', '21', '35', '60', '45', '0', nan,
       '70', 'MAS', '10', '6', '55', '65', '15'], dtype=object)

In [79]:
df_from_xls["TRAMO_EDAD"] = df_from_xls["TRAMO_EDAD"].replace({"MAS":74}, regex=True)

In [80]:
df_from_xls["TRAMO_EDAD"].unique()

array(['18', '50', '40', '25', '30', '21', '35', '60', '45', '0', nan,
       '70', 74, '10', '6', '55', '65', '15'], dtype=object)

In [81]:
df_from_xls["TRAMO_EDAD"].fillna("NO_ASIGNADO", inplace=True)

In [82]:
df_from_xls["TRAMO_EDAD"].unique()

array(['18', '50', '40', '25', '30', '21', '35', '60', '45', '0',
       'NO_ASIGNADO', '70', 74, '10', '6', '55', '65', '15'], dtype=object)

In [83]:
# Check NULL values
df_from_xls.isnull().sum()

FECHA             0
HORA              0
DIA_SEMANA        0
DISTRITO          0
NUM_PERSONAS      0
TIPO_ACCIDENTE    0
TIPO_VEHICULO     0
TIPO_PERSONA      0
SEXO              0
LESIVIDAD         0
TRAMO_EDAD        0
dtype: int64

In [84]:
df_from_xls.shape

(26578, 11)

In [85]:
# Review duplicated
df_from_xls.duplicated().sum()

877

In [86]:
# Manipulate "DIA_SEMANA" column for preprocesing data format
df_from_xls["DIA_SEMANA"].unique()

array(['VIERNES', 'SABADO', 'DOMINGO', 'LUNES', 'MARTES', 'MIERCOLES',
       'JUEVES'], dtype=object)

In [87]:
df_from_xls["DIA_SEMANA"].fillna("NO_ASIGNADO", inplace=True)

In [88]:
# Manipulate "DISTRITO" column for preprocesing data format
df_from_xls["DISTRITO"].unique()

array(['CHAMARTIN', 'PUENTE DE VALLECAS', 'CHAMBERI', 'RETIRO',
       'SALAMANCA', 'CARABANCHEL', 'CIUDAD LINEAL', 'MONCLOA-ARAVACA',
       'TETUAN', 'VILLA DE VALLECAS', 'MORATALAZ', 'ARGANZUELA',
       'SAN BLAS', 'VILLAVERDE', 'HORTALEZA', 'FUENCARRAL-EL PARDO',
       'VICALVARO', 'USERA', 'LATINA', 'BARAJAS', 'CENTRO'], dtype=object)

In [89]:
df_from_xls["DISTRITO"].fillna("NO_ASIGNADO", inplace=True)

In [90]:
# Manipulate "NUM_PERSONAS" column for preprocesing data format
df_from_xls["NUM_PERSONAS"].unique()

array([ 1,  7,  2,  3,  4,  5,  9,  6,  8, 18, 13])

In [91]:
df_from_xls["NUM_PERSONAS"].fillna("NO_ASIGNADO", inplace=True)

In [92]:
# Manipulate "TIPO_ACCIDENTE" column for preprocesing data format
df_from_xls["TIPO_ACCIDENTE"].unique()

array(['COLISIÓN DOBLE', 'COLISIÓN MÚLTIPLE', 'CHOQUE CON OBJETO FIJO',
       'CAÍDA MOTOCICLETA', 'ATROPELLO', 'VUELCO', 'CAÍDA CICLOMOTOR',
       'CAÍDA VIAJERO BUS', 'OTRAS CAUSAS', 'CAÍDA BICICLETA'],
      dtype=object)

In [93]:
df_from_xls["TIPO_ACCIDENTE"].fillna("NO_ASIGNADO", inplace=True)

In [94]:
# Manipulate "TIPO_VEHICULO" column for preprocesing data format
df_from_xls["TIPO_VEHICULO"].unique()

array(['TURISMO', 'NO ASIGNADO', 'FURGONETA', 'MOTOCICLETA', 'AUTO-TAXI',
       'VARIOS', 'CAMION', 'CICLOMOTOR', 'AUTOBUS-AUTOCAR', 'BICICLETA',
       'AMBULANCIA'], dtype=object)

In [95]:
df_from_xls["TIPO_VEHICULO"].fillna("NO_ASIGNADO", inplace=True)

In [96]:
# Manipulate "TIPO_PERSONA" column for preprocesing data format
df_from_xls["TIPO_PERSONA"].unique()

array(['CONDUCTOR', 'VIAJERO', 'TESTIGO', 'PEATON'], dtype=object)

In [97]:
df_from_xls["TIPO_PERSONA"].fillna("NO_ASIGNADO", inplace=True)

In [98]:
# Manipulate "SEXO" column for preprocesing data format
df_from_xls["SEXO"].unique()

array(['HOMBRE', 'MUJER', 'NO ASIGNADO'], dtype=object)

In [99]:
df_from_xls["SEXO"].fillna("NO ASIGNADO", inplace=True)

In [100]:
# Manipulate "LESIVIDAD" column for preprocesing data format
df_from_xls["LESIVIDAD"].unique()

array(['IL', 'HL', 'HG', 'NO ASIGNADA', 'MT'], dtype=object)

In [101]:
df_from_xls["LESIVIDAD"].fillna("NO ASIGNADO", inplace=True)

In [102]:
# Manipulate "HORA" column for preprocesing data format
df_from_xls["HORA"].unique()

array(['00:00', '1:00', '2:00', '4:00', '5:00', '8:00', '9:00', '20:00',
       '21:00', '6:00', '11:00', '12:00', '13:00', '14:00', '15:00',
       '18:00', '19:00', '22:00', '16:00', '17:00', '23:00', '7:00',
       '10:00', '3:00'], dtype=object)

In [103]:
df_from_xls["HORA"].fillna("NO_ASIGNADO", inplace=True)

In [104]:
# Manipulate "TRAMO_EDAD" column for preprocesing data format
df_from_xls["TRAMO_EDAD"].unique()

array(['18', '50', '40', '25', '30', '21', '35', '60', '45', '0',
       'NO_ASIGNADO', '70', 74, '10', '6', '55', '65', '15'], dtype=object)

In [105]:
df_from_xls["TRAMO_EDAD"].fillna("NO_ASIGNADO", inplace=True)

In [106]:
df_from_xls.head()

,FECHA,HORA,DIA_SEMANA,DISTRITO,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,TRAMO_EDAD
0,01/01/2010,00:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,18
1,01/01/2010,00:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,50
2,01/01/2010,00:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HL,40
3,01/01/2010,1:00,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,25
4,01/01/2010,1:00,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,30

In [107]:
df_from_xls.columns

Index(['FECHA', 'HORA', 'DIA_SEMANA', 'DISTRITO', 'NUM_PERSONAS',
       'TIPO_ACCIDENTE', 'TIPO_VEHICULO', 'TIPO_PERSONA', 'SEXO', 'LESIVIDAD',
       'TRAMO_EDAD'],
      dtype='object')

In [108]:
df_from_xls["HORA"][3]

'1:00'

In [109]:
df_from_xls["HORA"] = pd.to_datetime(df_from_xls["HORA"],errors="coerce").dt.strftime("%H:%M")
print (df_from_xls["HORA"][0])

00:00

In [110]:
df_from_xls.HORA.dtype

dtype('O')

In [111]:
# View types
df_from_xls.dtypes

FECHA             object
HORA              object
DIA_SEMANA        object
DISTRITO          object
NUM_PERSONAS       int64
TIPO_ACCIDENTE    object
TIPO_VEHICULO     object
TIPO_PERSONA      object
SEXO              object
LESIVIDAD         object
TRAMO_EDAD        object
dtype: object

In [112]:
df_from_xls.head(1)

,FECHA,HORA,DIA_SEMANA,DISTRITO,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,TRAMO_EDAD
0,01/01/2010,00:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,18

In [113]:
df_from_xls.TRAMO_EDAD.head()

0    18
1    50
2    40
3    25
4    30
Name: TRAMO_EDAD, dtype: object

In [114]:
df_from_xls["TRAMO_EDAD"].unique()

array(['18', '50', '40', '25', '30', '21', '35', '60', '45', '0',
       'NO_ASIGNADO', '70', 74, '10', '6', '55', '65', '15'], dtype=object)

In [115]:
df_from_xls.count()

FECHA             26578
HORA              26578
DIA_SEMANA        26578
DISTRITO          26578
NUM_PERSONAS      26578
TIPO_ACCIDENTE    26578
TIPO_VEHICULO     26578
TIPO_PERSONA      26578
SEXO              26578
LESIVIDAD         26578
TRAMO_EDAD        26578
dtype: int64

In [116]:
# Review "NO_ASIGNADO" values of columns

In [117]:
pd.value_counts(df_from_xls['TRAMO_EDAD']=='NO_ASIGNADO', sort=True, ascending=False, normalize=False, bins=None, dropna=False)

False    24234
True      2344
Name: TRAMO_EDAD, dtype: int64

In [118]:
# and replace with 999 by transformer from "TRAMO_EDAD"	to "EDAD_APROX" in range agreement
df_from_xls["TRAMO_EDAD"] = df_from_xls["TRAMO_EDAD"].replace({"NO_ASIGNADO":999}, regex=True)

In [119]:
pd.value_counts(df_from_xls['TRAMO_EDAD']=='NO_ASIGNADO', sort=True, ascending=False, normalize=False, bins=None, dropna=False)

False    26578
Name: TRAMO_EDAD, dtype: int64

In [120]:
df_from_xls["TRAMO_EDAD"] = pd.to_numeric(df_from_xls["TRAMO_EDAD"])

In [121]:
df_from_xls.TRAMO_EDAD.dtype

dtype('int64')

In [122]:
#df.loc[df.column_name condition, 'new column name'] = 'value if condition is met'
#df['new column name'] = df['df column_name'].apply(lambda x: 'value if condition is met' if x condition else 'value if condition is not met')
#df_from_xls.loc[(df_from_xls.TRAMO_EDAD >= 0) & (df_from_xls.TRAMO_EDAD < 10), 5] = 'Mis-Match'  

df_from_xls['EDAD_APROX'] = df_from_xls['TRAMO_EDAD'].apply\
(lambda x : 0 if x <= 0 else (5 if x <= 5 else (10 if x <= 10 else (15 if x <= 15 else \
(20 if x <= 20 else (25 if x <= 25 else (30 if x <= 30 else (35 if x <= 35 else \
(40 if x <= 40 else (45 if x <= 45 else (50 if x <= 50 else (55 if x <= 55 else \
(60 if x <= 50 else (65 if x <= 65 else (70 if x <= 70 else (75 if x <= 75 else \
(80 if x <= 80 else (85 if x <= 85 else (90 if x <= 90 else (95 if x <= 95 else \
(100 if x <= 100 else (105 if x <= 105 else (110 if x <= 110 else (115 if x <= 115 else \
(120 if x <= 120 else (125 if x <= 125 else 'NO_ASIGNADO'))))))))))))))))))))))))))

df_from_xls['EDAD_APROX']

0        20
1        50
2        40
3        25
4        30
         ..
26573    45
26574    30
26575    40
26576    25
26577    55
Name: EDAD_APROX, Length: 26578, dtype: object

In [123]:
df_from_xls.EDAD_APROX.dtype

dtype('O')

In [124]:
pd.value_counts(df_from_xls['EDAD_APROX']=='NO_ASIGNADO', sort=True, ascending=False, normalize=False, bins=None, dropna=False)

False    24234
True      2344
Name: EDAD_APROX, dtype: int64

In [125]:
del df_from_xls['TRAMO_EDAD']

In [126]:
df_from_xls.columns

Index(['FECHA', 'HORA', 'DIA_SEMANA', 'DISTRITO', 'NUM_PERSONAS',
       'TIPO_ACCIDENTE', 'TIPO_VEHICULO', 'TIPO_PERSONA', 'SEXO', 'LESIVIDAD',
       'EDAD_APROX'],
      dtype='object')

In [127]:
df_from_xls.dtypes

FECHA             object
HORA              object
DIA_SEMANA        object
DISTRITO          object
NUM_PERSONAS       int64
TIPO_ACCIDENTE    object
TIPO_VEHICULO     object
TIPO_PERSONA      object
SEXO              object
LESIVIDAD         object
EDAD_APROX        object
dtype: object

In [128]:
df_from_xls.head(1)

,FECHA,HORA,DIA_SEMANA,DISTRITO,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,EDAD_APROX
0,01/01/2010,00:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,20

In [129]:
# and replace with others labels by transformer "LESIVIDAD" in range agreement
df_from_xls["LESIVIDAD"].unique()

array(['IL', 'HL', 'HG', 'NO ASIGNADA', 'MT'], dtype=object)

In [130]:
df_from_xls["LESIVIDAD"] = df_from_xls["LESIVIDAD"].replace({"IL":'INGRESO_LEVE'}, regex=True)
df_from_xls["LESIVIDAD"] = df_from_xls["LESIVIDAD"].replace({"HL":'HERIDO_LEVE'}, regex=True)
df_from_xls["LESIVIDAD"] = df_from_xls["LESIVIDAD"].replace({"HG":'HERIDO_GRAVE'}, regex=True)
df_from_xls["LESIVIDAD"] = df_from_xls["LESIVIDAD"].replace({"NO ASIGNADA":'NO_ASIGNADO'}, regex=True)
df_from_xls["LESIVIDAD"] = df_from_xls["LESIVIDAD"].replace({"MT":'MUERTO'}, regex=True)

In [131]:
df_from_xls["LESIVIDAD"].unique()

array(['INGRESO_LEVE', 'HERIDO_LEVE', 'HERIDO_GRAVE', 'NO_ASIGNADO',
       'MUERTO'], dtype=object)

In [132]:
df_from_xls.head()

,FECHA,HORA,DIA_SEMANA,DISTRITO,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,EDAD_APROX
0,01/01/2010,00:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,INGRESO_LEVE,20
1,01/01/2010,00:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,INGRESO_LEVE,50
2,01/01/2010,00:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HERIDO_LEVE,40
3,01/01/2010,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HERIDO_LEVE,25
4,01/01/2010,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HERIDO_LEVE,30

In [133]:
# Replace with others labels by transformer "SEXO" in range agreement
df_from_xls["SEXO"].unique()

array(['HOMBRE', 'MUJER', 'NO ASIGNADO'], dtype=object)

In [134]:
df_from_xls["SEXO"] = df_from_xls["SEXO"].replace({"NO ASIGNADO":'NO_ASIGNADO'}, regex=True)

In [135]:
df_from_xls["SEXO"].unique()

array(['HOMBRE', 'MUJER', 'NO_ASIGNADO'], dtype=object)

In [136]:
df_from_xls.head()

,FECHA,HORA,DIA_SEMANA,DISTRITO,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,EDAD_APROX
0,01/01/2010,00:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,INGRESO_LEVE,20
1,01/01/2010,00:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,INGRESO_LEVE,50
2,01/01/2010,00:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HERIDO_LEVE,40
3,01/01/2010,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HERIDO_LEVE,25
4,01/01/2010,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HERIDO_LEVE,30

In [137]:
# Replace with others labels by transformer "TIPO_PERSONA" in range agreement
df_from_xls["TIPO_PERSONA"].unique()

array(['CONDUCTOR', 'VIAJERO', 'TESTIGO', 'PEATON'], dtype=object)

In [138]:
# Replace with others labels by transformer "TIPO_VEHICULO" in range agreement
df_from_xls["TIPO_VEHICULO"].unique()

array(['TURISMO', 'NO ASIGNADO', 'FURGONETA', 'MOTOCICLETA', 'AUTO-TAXI',
       'VARIOS', 'CAMION', 'CICLOMOTOR', 'AUTOBUS-AUTOCAR', 'BICICLETA',
       'AMBULANCIA'], dtype=object)

In [139]:
df_from_xls["TIPO_VEHICULO"] = df_from_xls["TIPO_VEHICULO"].replace({"NO ASIGNADO":'NO_ASIGNADO'}, regex=True)
df_from_xls["TIPO_VEHICULO"] = df_from_xls["TIPO_VEHICULO"].replace({"AUTO-TAXI":'AUTO_TAXI'}, regex=True)
df_from_xls["TIPO_VEHICULO"] = df_from_xls["TIPO_VEHICULO"].replace({"AUTOBUS-AUTOCAR":'AUTOBUS_AUTOCAR'}, regex=True)

In [140]:
df_from_xls["TIPO_VEHICULO"].unique()

array(['TURISMO', 'NO_ASIGNADO', 'FURGONETA', 'MOTOCICLETA', 'AUTO_TAXI',
       'VARIOS', 'CAMION', 'CICLOMOTOR', 'AUTOBUS_AUTOCAR', 'BICICLETA',
       'AMBULANCIA'], dtype=object)

In [141]:
df_from_xls.head()

,FECHA,HORA,DIA_SEMANA,DISTRITO,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,EDAD_APROX
0,01/01/2010,00:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,INGRESO_LEVE,20
1,01/01/2010,00:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,INGRESO_LEVE,50
2,01/01/2010,00:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HERIDO_LEVE,40
3,01/01/2010,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO_ASIGNADO,VIAJERO,MUJER,HERIDO_LEVE,25
4,01/01/2010,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO_ASIGNADO,VIAJERO,MUJER,HERIDO_LEVE,30

In [142]:
# Replace with others labels by transformer "TIPO_ACCIDENTE" in range agreement
df_from_xls["TIPO_ACCIDENTE"].unique()

array(['COLISIÓN DOBLE', 'COLISIÓN MÚLTIPLE', 'CHOQUE CON OBJETO FIJO',
       'CAÍDA MOTOCICLETA', 'ATROPELLO', 'VUELCO', 'CAÍDA CICLOMOTOR',
       'CAÍDA VIAJERO BUS', 'OTRAS CAUSAS', 'CAÍDA BICICLETA'],
      dtype=object)

In [143]:
df_from_xls["TIPO_ACCIDENTE"] = df_from_xls["TIPO_ACCIDENTE"].replace({"COLISIÓN DOBLE":'COLISION_DOBLE'}, regex=True)
df_from_xls["TIPO_ACCIDENTE"] = df_from_xls["TIPO_ACCIDENTE"].replace({"COLISIÓN MÚLTIPLE":'COLISION_MULTIPLE'}, regex=True)
df_from_xls["TIPO_ACCIDENTE"] = df_from_xls["TIPO_ACCIDENTE"].replace({"CHOQUE CON OBJETO FIJO":'CHOQUE_CON_OBJETO_FIJO'}, regex=True)
df_from_xls["TIPO_ACCIDENTE"] = df_from_xls["TIPO_ACCIDENTE"].replace({"CAÍDA ":'CAIDA_'}, regex=True)
df_from_xls["TIPO_ACCIDENTE"] = df_from_xls["TIPO_ACCIDENTE"].replace({"OTRAS CAUSAS":'OTRAS_CAUSAS'}, regex=True)

In [144]:
df_from_xls["TIPO_ACCIDENTE"].unique()

array(['COLISION_DOBLE', 'COLISION_MULTIPLE', 'CHOQUE_CON_OBJETO_FIJO',
       'CAIDA_MOTOCICLETA', 'ATROPELLO', 'VUELCO', 'CAIDA_CICLOMOTOR',
       'CAIDA_VIAJERO BUS', 'OTRAS_CAUSAS', 'CAIDA_BICICLETA'],
      dtype=object)

In [145]:
df_from_xls.head(3)

,FECHA,HORA,DIA_SEMANA,DISTRITO,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,EDAD_APROX
0,01/01/2010,00:00,VIERNES,CHAMARTIN,1,COLISION_DOBLE,TURISMO,CONDUCTOR,HOMBRE,INGRESO_LEVE,20
1,01/01/2010,00:00,VIERNES,CHAMARTIN,1,COLISION_DOBLE,TURISMO,CONDUCTOR,HOMBRE,INGRESO_LEVE,50
2,01/01/2010,00:00,VIERNES,CHAMARTIN,1,COLISION_DOBLE,TURISMO,VIAJERO,MUJER,HERIDO_LEVE,40

In [146]:
# Replace with others labels by transformer from "NUM_PERSONAS" to "NUM_PERS_IMPLS" in range agreement 
# in new df for times series probes
df_from_xls["NUM_PERSONAS"].unique()

array([ 1,  7,  2,  3,  4,  5,  9,  6,  8, 18, 13])

In [147]:
personas_implicadas = df_from_xls["NUM_PERSONAS"].groupby([df_from_xls["FECHA"], df_from_xls["HORA"]]).agg({'count'})
personas_implicadas

                  count
FECHA      HORA
01/01/2010 00:00      3
           01:00      8
           02:00      2
           04:00     11
           05:00      3
...                 ...
31/12/2010 18:00      1
           19:00      5
           20:00      1
           21:00      1
           23:00      3

[4964 rows x 1 columns]

In [148]:
type(personas_implicadas)

pandas.core.frame.DataFrame

In [149]:
personas_implicadas = personas_implicadas.rename(columns = {'count':'NUM_PERS_IMPLS'})
personas_implicadas.head()

                  NUM_PERS_IMPLS
FECHA      HORA
01/01/2010 00:00               3
           01:00               8
           02:00               2
           04:00              11
           05:00               3

In [150]:
# Merge for time values transformer
from functools import reduce
dffxls_join_perimp = [df_from_xls, personas_implicadas]
#Assuming they have two common column, I'd do the following:
df_from_xls = reduce(lambda left,right: pd.merge(left,right,on=['FECHA','HORA']), dffxls_join_perimp)
df_from_xls

,FECHA,HORA,DIA_SEMANA,DISTRITO,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,EDAD_APROX,NUM_PERS_IMPLS
0,01/01/2010,00:00,VIERNES,CHAMARTIN,1,COLISION_DOBLE,TURISMO,CONDUCTOR,HOMBRE,INGRESO_LEVE,20,3
1,01/01/2010,00:00,VIERNES,CHAMARTIN,1,COLISION_DOBLE,TURISMO,CONDUCTOR,HOMBRE,INGRESO_LEVE,50,3
2,01/01/2010,00:00,VIERNES,CHAMARTIN,1,COLISION_DOBLE,TURISMO,VIAJERO,MUJER,HERIDO_LEVE,40,3
3,01/01/2010,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISION_MULTIPLE,NO_ASIGNADO,VIAJERO,MUJER,HERIDO_LEVE,25,8
4,01/01/2010,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISION_MULTIPLE,NO_ASIGNADO,VIAJERO,MUJER,HERIDO_LEVE,30,8
...,...,...,...,...,...,...,...,...,...,...,...,...
26573,31/12/2010,20:00,VIERNES,ARGANZUELA,1,CAIDA_MOTOCICLETA,MOTOCICLETA,CONDUCTOR,HOMBRE,HERIDO_LEVE,45,1
26574,31/12/2010,21:00,VIERNES,BARAJAS,1,CHOQUE_CON_OBJETO_FIJO,MOTOCICLETA,CONDUCTOR,HOMBRE,HERIDO_LEVE,30,1
26575,31/12/2010,23:00,VIERNES,RETIRO,1,ATROPELLO,NO_ASIGNADO,PEATON,HOMBRE,HERIDO_LEVE,40,3
26576,31/12/2010,23:00,VIERNES,RETIRO,1,ATROPELLO,TURISMO,CONDUCTOR,MUJER,INGRESO_LEVE,25,3
26577,31/12/2010,23:00,VIERNES,RETIRO,1,ATROPELLO,TURISMO,VIAJERO,HOMBRE,INGRESO_LEVE,55,3

In [151]:
df_from_xls.columns

Index(['FECHA', 'HORA', 'DIA_SEMANA', 'DISTRITO', 'NUM_PERSONAS',
       'TIPO_ACCIDENTE', 'TIPO_VEHICULO', 'TIPO_PERSONA', 'SEXO', 'LESIVIDAD',
       'EDAD_APROX', 'NUM_PERS_IMPLS'],
      dtype='object')

In [152]:
df_from_xls = df_from_xls.rename(columns = {'count':'NUM_PERS_IMPLS'})
df_from_xls.head()

,FECHA,HORA,DIA_SEMANA,DISTRITO,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,EDAD_APROX,NUM_PERS_IMPLS
0,01/01/2010,00:00,VIERNES,CHAMARTIN,1,COLISION_DOBLE,TURISMO,CONDUCTOR,HOMBRE,INGRESO_LEVE,20,3
1,01/01/2010,00:00,VIERNES,CHAMARTIN,1,COLISION_DOBLE,TURISMO,CONDUCTOR,HOMBRE,INGRESO_LEVE,50,3
2,01/01/2010,00:00,VIERNES,CHAMARTIN,1,COLISION_DOBLE,TURISMO,VIAJERO,MUJER,HERIDO_LEVE,40,3
3,01/01/2010,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISION_MULTIPLE,NO_ASIGNADO,VIAJERO,MUJER,HERIDO_LEVE,25,8
4,01/01/2010,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISION_MULTIPLE,NO_ASIGNADO,VIAJERO,MUJER,HERIDO_LEVE,30,8

In [153]:
df_from_xls.columns

Index(['FECHA', 'HORA', 'DIA_SEMANA', 'DISTRITO', 'NUM_PERSONAS',
       'TIPO_ACCIDENTE', 'TIPO_VEHICULO', 'TIPO_PERSONA', 'SEXO', 'LESIVIDAD',
       'EDAD_APROX', 'NUM_PERS_IMPLS'],
      dtype='object')

In [154]:
del df_from_xls["NUM_PERSONAS"]
df_from_xls.columns

Index(['FECHA', 'HORA', 'DIA_SEMANA', 'DISTRITO', 'TIPO_ACCIDENTE',
       'TIPO_VEHICULO', 'TIPO_PERSONA', 'SEXO', 'LESIVIDAD', 'EDAD_APROX',
       'NUM_PERS_IMPLS'],
      dtype='object')

In [155]:
df_from_xls.head(1)

,FECHA,HORA,DIA_SEMANA,DISTRITO,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,EDAD_APROX,NUM_PERS_IMPLS
0,01/01/2010,00:00,VIERNES,CHAMARTIN,COLISION_DOBLE,TURISMO,CONDUCTOR,HOMBRE,INGRESO_LEVE,20,3

In [156]:
personas_implicadas.head()

                  NUM_PERS_IMPLS
FECHA      HORA
01/01/2010 00:00               3
           01:00               8
           02:00               2
           04:00              11
           05:00               3

In [157]:
# Reset the index for new df
personas_implicadas = personas_implicadas.reset_index()

In [158]:
personas_implicadas.head()

        FECHA   HORA  NUM_PERS_IMPLS
0  01/01/2010  00:00               3
1  01/01/2010  01:00               8
2  01/01/2010  02:00               2
3  01/01/2010  04:00              11
4  01/01/2010  05:00               3

In [159]:
type(personas_implicadas)

pandas.core.frame.DataFrame

In [160]:
personas_implicadas.columns

Index(['FECHA', 'HORA', 'NUM_PERS_IMPLS'], dtype='object')

In [161]:
personas_implicadas.dtypes

FECHA             object
HORA              object
NUM_PERS_IMPLS     int64
dtype: object

In [162]:
personas_implicadas.head(1)

        FECHA   HORA  NUM_PERS_IMPLS
0  01/01/2010  00:00               3

In [163]:
type(personas_implicadas["FECHA"])

pandas.core.series.Series

In [164]:
type(personas_implicadas["HORA"])

pandas.core.series.Series

In [165]:
personas_implicadas.columns

Index(['FECHA', 'HORA', 'NUM_PERS_IMPLS'], dtype='object')

In [166]:
personas_implicadas.dtypes

FECHA             object
HORA              object
NUM_PERS_IMPLS     int64
dtype: object

In [167]:
personas_implicadas["FECHA_HORA"] = personas_implicadas["FECHA"] + ' ' + personas_implicadas["HORA"]

In [168]:
personas_implicadas.columns

Index(['FECHA', 'HORA', 'NUM_PERS_IMPLS', 'FECHA_HORA'], dtype='object')

In [169]:
personas_implicadas["FECHA_HORA"][0]

'01/01/2010 00:00'

In [170]:
personas_implicadas.dtypes

FECHA             object
HORA              object
NUM_PERS_IMPLS     int64
FECHA_HORA        object
dtype: object

In [171]:
del personas_implicadas["FECHA"]
del personas_implicadas["HORA"]

In [172]:
personas_implicadas.columns

Index(['NUM_PERS_IMPLS', 'FECHA_HORA'], dtype='object')

In [173]:
personas_implicadas["NPI_AUX"]=personas_implicadas["NUM_PERS_IMPLS"]

In [174]:
personas_implicadas.columns

Index(['NUM_PERS_IMPLS', 'FECHA_HORA', 'NPI_AUX'], dtype='object')

In [175]:
personas_implicadas.dtypes

NUM_PERS_IMPLS     int64
FECHA_HORA        object
NPI_AUX            int64
dtype: object

In [176]:
del personas_implicadas["NUM_PERS_IMPLS"]

In [177]:
personas_implicadas.dtypes

FECHA_HORA    object
NPI_AUX        int64
dtype: object

In [178]:
personas_implicadas.columns

Index(['FECHA_HORA', 'NPI_AUX'], dtype='object')

In [179]:
personas_implicadas=personas_implicadas.rename(columns = {'NPI_AUX':'NUM_PERS_IMPLS'})

In [180]:
personas_implicadas.dtypes

FECHA_HORA        object
NUM_PERS_IMPLS     int64
dtype: object

In [181]:
personas_implicadas.head(1)

         FECHA_HORA  NUM_PERS_IMPLS
0  01/01/2010 00:00               3

In [182]:
personas_implicadas["FECHA_HORA"] = pd.to_datetime(pd.Series(personas_implicadas["FECHA_HORA"]), format="%d/%m/%Y %H:%M")

In [183]:
type(personas_implicadas["FECHA_HORA"])

pandas.core.series.Series

In [184]:
personas_implicadas.head(1)

  FECHA_HORA  NUM_PERS_IMPLS
0 2010-01-01               3

In [185]:
personas_implicadas["FECHA_HORA"][0]

Timestamp('2010-01-01 00:00:00')

In [186]:
personas_implicadas.columns

Index(['FECHA_HORA', 'NUM_PERS_IMPLS'], dtype='object')

In [187]:
personas_implicadas.dtypes

FECHA_HORA        datetime64[ns]
NUM_PERS_IMPLS             int64
dtype: object

In [188]:
personas_implicadas.head(5)

           FECHA_HORA  NUM_PERS_IMPLS
0 2010-01-01 00:00:00               3
1 2010-01-01 01:00:00               8
2 2010-01-01 02:00:00               2
3 2010-01-01 04:00:00              11
4 2010-01-01 05:00:00               3

In [189]:
df_from_xls.head()

,FECHA,HORA,DIA_SEMANA,DISTRITO,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,EDAD_APROX,NUM_PERS_IMPLS
0,01/01/2010,00:00,VIERNES,CHAMARTIN,COLISION_DOBLE,TURISMO,CONDUCTOR,HOMBRE,INGRESO_LEVE,20,3
1,01/01/2010,00:00,VIERNES,CHAMARTIN,COLISION_DOBLE,TURISMO,CONDUCTOR,HOMBRE,INGRESO_LEVE,50,3
2,01/01/2010,00:00,VIERNES,CHAMARTIN,COLISION_DOBLE,TURISMO,VIAJERO,MUJER,HERIDO_LEVE,40,3
3,01/01/2010,01:00,VIERNES,PUENTE DE VALLECAS,COLISION_MULTIPLE,NO_ASIGNADO,VIAJERO,MUJER,HERIDO_LEVE,25,8
4,01/01/2010,01:00,VIERNES,PUENTE DE VALLECAS,COLISION_MULTIPLE,NO_ASIGNADO,VIAJERO,MUJER,HERIDO_LEVE,30,8

In [190]:
personas_implicadas.count()

FECHA_HORA        4964
NUM_PERS_IMPLS    4964
dtype: int64

In [191]:
calendario = pd.date_range(start='2010-01-01 00:00:00', end='2010-01-31 23:00:00', freq='1H')
calendario = pd.DataFrame(calendario, columns=['FECHA'])
#print(calendario)
calendario["FECHA"].head(5)

0   2010-01-01 00:00:00
1   2010-01-01 01:00:00
2   2010-01-01 02:00:00
3   2010-01-01 03:00:00
4   2010-01-01 04:00:00
Name: FECHA, dtype: datetime64[ns]

In [192]:
type(calendario)

pandas.core.frame.DataFrame

In [193]:
type(calendario["FECHA"])

pandas.core.series.Series

In [194]:
calendario.dtypes

FECHA    datetime64[ns]
dtype: object

In [195]:
#['left', 'right', "how='inner'", 'on=None', 'left_on=None', 'right_on=None', 'left_index=False', 
#'right_index=False', 'sort=False', "suffixes=('_x', '_y')", 'copy=True', 'indicator=False', 'validate=None']
df_cal_join_pim = [calendario, personas_implicadas]
df_series_tiempo = reduce(lambda left,right: pd.merge(left,right,how='left',left_on='FECHA',\
                                                      right_on='FECHA_HORA',validate='one_to_one'), df_cal_join_pim)
df_series_tiempo.head(5)

                FECHA          FECHA_HORA  NUM_PERS_IMPLS
0 2010-01-01 00:00:00 2010-01-01 00:00:00             3.0
1 2010-01-01 01:00:00 2010-01-01 01:00:00             8.0
2 2010-01-01 02:00:00 2010-01-01 02:00:00             2.0
3 2010-01-01 03:00:00                 NaT             NaN
4 2010-01-01 04:00:00 2010-01-01 04:00:00            11.0

In [196]:
del df_series_tiempo["FECHA_HORA"]

In [197]:
df_series_tiempo.columns

Index(['FECHA', 'NUM_PERS_IMPLS'], dtype='object')

In [198]:
df_series_tiempo.head(5)

                FECHA  NUM_PERS_IMPLS
0 2010-01-01 00:00:00             3.0
1 2010-01-01 01:00:00             8.0
2 2010-01-01 02:00:00             2.0
3 2010-01-01 03:00:00             NaN
4 2010-01-01 04:00:00            11.0

In [199]:
df_series_tiempo.dtypes

FECHA             datetime64[ns]
NUM_PERS_IMPLS           float64
dtype: object

In [200]:
df_series_tiempo=df_series_tiempo.combine_first(df_series_tiempo.select_dtypes(include=[np.number]).fillna(0))

In [201]:
df_series_tiempo.dtypes

FECHA             datetime64[ns]
NUM_PERS_IMPLS           float64
dtype: object

In [202]:
df_series_tiempo.head(5)

                FECHA  NUM_PERS_IMPLS
0 2010-01-01 00:00:00             3.0
1 2010-01-01 01:00:00             8.0
2 2010-01-01 02:00:00             2.0
3 2010-01-01 03:00:00             0.0
4 2010-01-01 04:00:00            11.0

In [203]:
df_series_tiempo["NUM_PERS_IMPLS"]=df_series_tiempo['NUM_PERS_IMPLS'].astype(np.int64)

In [204]:
df_series_tiempo.dtypes

FECHA             datetime64[ns]
NUM_PERS_IMPLS             int64
dtype: object

In [205]:
df_series_tiempo.head(5)

                FECHA  NUM_PERS_IMPLS
0 2010-01-01 00:00:00               3
1 2010-01-01 01:00:00               8
2 2010-01-01 02:00:00               2
3 2010-01-01 03:00:00               0
4 2010-01-01 04:00:00              11

In [206]:
!ls {folder}

01_loading_and_preprocessing_original_data.ipynb
01_OUT_csv_filesexport_df_series_tiempo.csv

In [207]:
# OUT file "01_OUT_csv_filesexport_df_series_tiempo.csv" for Time Series probes
df_series_tiempo.to_csv ('01_OUT_csv_filesexport_df_series_tiempo.csv')

In [208]:
!date

dom dic  1 16:06:40 CET 2019